/* Card.css */
.card {
  width: 500px; /* Desktop width */
  height: 800px; /* Desktop height */
  perspective: 1000px;
  cursor: pointer;
  margin: 0 auto;
}
  
  .card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-top: 20%;
  }
  
  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-inner > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
  }

  @media (max-width: 768px) {
    .card {
      width: 300px; /* Mobile width */
      height: 480px; /* Mobile height */
    }
  }
  