/* Global styles for the entire app/page */

/* General styling for body or container */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333; /* Text color for the entire app */
  background-image: url('../public/Assets/pxfuel-bg.jpg');
  background-size: cover;
}

/* Hyperlink styles */
a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}
